{"openapi":"3.0.0","info":{"title":"Public EMMA API","description":"### About Infrastructure API\n\n**Base URL:** **<u>https://api.emma.ms/external</u>**\n\n This **Infrastructure API** is for managing the emma cloud infrastructure within a project. The API enables you to view, create, edit, and delete _Virtual machines, Spot instances, Applications, Kubernetes clusters, SSH keys, Security groups, and Backup policies_. For creating the resources you can use the endpoints with the dictionaries: _Data centers, Locations, Providers, Operating systems, Virtual machines configurations, Spot instances configurations, Kubernetes clusters configurations._\n\n ### Authentication\n\n #### 1. Create service application\n\n To access the API, enter your project, navigate to **Settings** > **Service Apps**, and create a service application. Select the access level **Read**, **Operate**, or **Manage**.\n\n - **Read** - only GET methods are allowed in the API.\n\n - **Operate** - some operations are allowed with the resources (e.g. _Start, Reboot,_ and _Shutdown_ of the Virtual machines).\n\n - **Manage** - full creating, updating, and deleting of the resources is allowed.\n\n\n #### 2. Get access token\n\n - Copy the **Client ID** and **Client Secret** in the service application.\n - Send an API request to the endpoint **/issue-token** as specified in the **Authentication** section of the API documentation. You will receive access and refresh tokens in the response.\n\n _For Linux / Mac:_\n ```\n curl -X POST https://api.emma.ms/external/v1/issue-token \\\n -H \"Content-Type: application/json\" \\\n -d '{\"clientId\": \"YOUR-CLIENT-ID\", \"clientSecret\": \"YOUR-CLIENT-SECRET\"}'\n ```\n _For Windows:_\n ```\n curl -X POST https://api.emma.ms/external/v1/issue-token ^\n -H \"Content-Type: application/json\" ^\n -d \"{\\\"clientId\\\": \\\"YOUR-CLIENT-ID\\\", \\\"clientSecret\\\": \\\"YOUR-CLIENT-SECRET\\\"}\"\n ```\n\n #### 3. Use access token in requests\n The Bearer access token is a text string, included in the request header, for example:\n\n _For Linux / Mac:_\n ```\n curl -X GET https://api.emma.ms/external/v1/locations -H \"Authorization: Bearer YOUR-ACCESS-TOKEN-HERE\"\n ```\n\n Use this token for the API requests. \n\n #### 4. Refresh token\n The access token will expire in 10 minutes. A new access token may be created using the refresh token (without Client ID and Client Secret).\n\n To get a new access token send a request to the **/refresh-token** endpoint:\n\n\n _For Linux / Mac:_\n ```\n curl -X POST https://api.emma.ms/external/v1/refresh-token \\\n -H \"Content-Type: application/json\" \\\n -d '{\"refreshToken\": \"YOUR-REFRESH-TOKEN\"}'\n ```    \n\n ### Possible response status codes\n\n We use standard HTTP response codes to show the success or failure of requests.\n\n `2xx` - successful responses.\n\n `4xx` - client error responses (the response contains an explanation of the error).\n\n `5xx` - server error responses.\n\n The API uses the following status codes:\n\n | Status Code | Description                  | Notes                                                                  |\n |-------------|------------------------------|------------------------------------------------------------------------|\n | 200         | OK                           | The request was successful.                                             |\n | 201         | Created                      | The object was successfully created. This code is only used with objects that are created immediately.\n | 204         | No content                   | A successful request, but there is no additional information to send back in the response body (in a case when the object was deleted).  \n | 400         | Bad Request                  | The request could not be understood by the server. Incoming parameters might not be valid. |\n | 401         | Unauthorized            | The client is unauthenticated. The client must authenticate itself to get the requested response. |\n | 403         | Forbidden                   | The client does not have access rights to the content.\n | 404         | Not Found                    | The requested resource is not found.                                    |\n | 409         | Conflict | This response is sent when a request conflicts with the current state of the object (e.g. deleting the security group with the compute instances in it).|\n | 422         | Unprocessable Content   | The request was well-formed but was unable to be followed due to incorrect field values (e.g. creation of a virtual machine in the non-existent data center).  |\n | 500         | Internal server Error                 | The server could not return the representation due to an internal server error. |\n","version":"1.0.1"},"servers":[{"url":"https://api.emma.ms/external","description":"Public EMMA API"}],"tags":[{"name":"Authentication","description":"Includes two endpoints for obtaining access tokens for authentication in the current API. The first endpoint enables you to get an access token and a refresh token. To send a request, you first need to create a Service application in your project (in the Settings section). After creating the application, you will get a Client ID and a Client Secret. Use them in your API request body to get the access and refresh tokens.\n\nThe second endpoint is used for getting a new access token using the refresh token. Since the access token can expire in a few minutes, you can generate a new access token without providing the Client ID and Client Secret.\n"},{"name":"Compute instances configurations","description":"When creating virtual machines, spot instances, or Kubernetes clusters, you need to provide the desired hardware configurations. These configurations include CPU, CPU type, RAM, volume size, and volume type. Different cloud providers offer various configurations in different data centers. Therefore, before creating any compute instance, you need to verify the available configurations.\n\nUse these three endpoints as references for available configurations for virtual machines, spot instances, and Kubernetes clusters. You can search the available configurations by different parameters (provider, location, data center, cloud network type, CPU, CPU type, RAM, volume size, volume type, and price).\n\nWhen you find an appropriate configuration, provide the hardware parameters in the endpoint for creating or editing a virtual machine, spot instance, or Kubernetes cluster.\n"},{"name":"Data centers","description":"Data centers from cloud providers. The data center ID is necessary for creating compute instances. Use data center endpoints to find the provider's data centers.\n"},{"name":"Kubernetes clusters","description":"Provides a comprehensive suite of endpoints for managing Kubernetes clusters within the project. This includes creating, retrieving, updating, and deleting Kubernetes clusters.\n"},{"name":"Locations","description":"Geographic locations of the provider's data centers. These endpoints provide the ID and name of each geographic location. Use the retrieved location ID for searching data centers.\n"},{"name":"Operating systems","description":"Operating systems of compute instances supported by the cloud providers. Endpoints provide detailed information about each operating system, including its family, type, version, and architecture. The operating system ID is necessary when creating virtual machines and spot instances.\n"},{"name":"Providers","description":"Cloud service provider is a third-party company that provides scalable computing resources that users can access over emma platform. When you create any computing resources in emma you create them in the provider's datacenters.\n"},{"name":"Security groups","description":"A security group refers to a set of rules that determine what network traffic is allowed to enter or leave a particular network or system. It acts as a virtual firewall, controlling inbound and outbound traffic based on predefined rules.\nSecurity groups operate based on predefined rules that allow or deny traffic based on specified criteria, such as source IP address, destination IP address, port number, and protocol. You can create and modify security groups, and add or delete compute instances from the security group.\n"},{"name":"Spot instances","description":"A Spot Instance is a specialized compute instance that allows you to access and utilize unused instance capacity at a steeply discounted rate.  Spot price is charged on an hourly basis.\n"},{"name":"SSH keys","description":"Provides endpoints for managing SSH keys within the project. These endpoints allow users to create, retrieve, update, and delete SSH keys, facilitating secure access to cloud resources.\nYou can only manage the SSH keys created by the current Service application that you use to authenticate to the API. You can't retrieve a list of SSH keys created by other users. You can't use other user's SSH keys when creating compute instances.\n"},{"name":"Statistics","description":"The method allows extraction of statistical data from emma's DWH. All queries are predefined; users need to select one and specify additional parameters.\n"},{"name":"Subnetworks","description":"Provides endpoints for creating and managing subnetworks at the project level. This feature allows defining IP address ranges for deploying virtual machines within specified subnetworks. Initially available for DigitalOcean and Gcore, it includes additional option for specifying private IP for Gcore virtual machines during deployment.\n"},{"name":"Virtual machines","description":"Provides a comprehensive set of endpoints for managing virtual machines (VMs) within the project. These endpoints enable users to create, retrieve, update, and delete virtual machines.\n"}],"paths":{"/v1/issue-token":{"post":{"tags":["Authentication"],"summary":"Issue token","description":"Returns an access token and a refresh token for this API. The bearer access token enables you to get access and send requests to the endpoints in this API.\n\nTo get the tokens, you need to send a Client ID and a Client Secret, which you can obtain from the Service application in your project. First, create a Service app in your project (Project -> Settings -> Service apps).\n\nTo manage access rights to the API, select an appropriate access level for your app when creating the service app - **Read**, **Operate,** or **Manage**.\n\nThe Bearer access token is a text string, included in the request header, for example:\n\n```\ncurl -X GET https://api.emma.ms/external/v1/locations -H \"Authorization: Bearer YOUR-ACCESS-TOKEN-HERE\"\n```\n","operationId":"issueToken","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Credentials"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Token"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}}},"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location 'https://api.emma.ms/external/v1/issue-token' \\\n--header 'Content-Type: application/json' \\\n--header 'Accept: application/json' \\\n--data '{\n  \"clientId\": \"YOUR-CLIENT-ID\",\n  \"clientSecret\": \"YOUR-CLIENT-SECRET\"\n}'"}]}},"/v1/refresh-token":{"post":{"tags":["Authentication"],"summary":"Refresh token","description":"Returns an access token for this API using a refresh token. The refresh token enables you to get a new access token (when it is expired) without needing the Client ID and Client Secret. To get the access token, you need to send the refresh token in the payload. You can obtain the refresh token from the `/v1/issue-token` endpoint.\n","operationId":"refreshToken","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefreshToken"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Token"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}}},"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location 'https://api.emma.ms/external/v1/refresh-token' \\\n--header 'Content-Type: application/json' \\\n--header 'Accept: application/json' \\\n--data '{\n  \"refreshToken\": \"YOUR-REFRESH-TOKEN\"\n}'"}]}},"/v1/data-centers":{"get":{"tags":["Data centers"],"summary":"Get list of data centers","description":"Returns a list of data centers from cloud providers. All compute instances are created in data centers. The data center ID is necessary for creating any compute instance. Use this endpoint to find the provider's data centers.\n","operationId":"GetDataCenters","parameters":[{"$ref":"#/components/parameters/dataCenterName"},{"$ref":"#/components/parameters/locationIdQuery"},{"$ref":"#/components/parameters/providerName"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DataCenter"}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location 'https://api.emma.ms/external/v1/data-centers' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"}]}},"/v1/data-centers/{dataCenterId}":{"get":{"tags":["Data centers"],"summary":"Get data center by ID","description":"Returns a data center from a cloud provider by data center ID. Information on the data center includes its name, provider and location.\n","operationId":"GetDataCenter","parameters":[{"$ref":"#/components/parameters/dataCenterId"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataCenter"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location 'https://api.emma.ms/external/v1/data-centers/YOUR-DATA-CENTER-ID' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"}]}},"/v1/kubernetes":{"get":{"tags":["Kubernetes clusters"],"summary":"Get list of Kubernetes clusters","description":"Returns a list of created Kubernetes clusters.\n","operationId":"GetKubernetesClusters","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Kubernetes"}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location 'https://api.emma.ms/external/v1/kubernetes' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"}]},"post":{"tags":["Kubernetes clusters"],"summary":"Create Kubernetes cluster","description":"Creates a Managed Kubernetes cluster. Kubernetes Service provides you with the ability to deploy and manage Kubernetes clusters without worrying about the setup and maintenance of master nodes. emma takes care of managing the Kubernetes control planes, allowing you to focus on deploying and managing your applications. You don't need to create master nodes. \n\nWe offer a reliable and highly available infrastructure for your cluster, which is hosted across three cloud providers: **Amazon Web Services (AWS), Microsoft Azure,** and **Google Cloud Platform (GCP)**. The service ensures independence from a single cloud provider. You can deploy your cluster across the networks of three providers.\n\nCurrently, you can only place clusters in **European regions** of cloud providers.\n\nWhen creating worker nodes, you need to select the appropriate hardware configurations. The configuration depends on the provider and the data center. Use the `/v1/kubernetes-configs` endpoint to find available configurations for worker nodes.\n\nCluster currently supports up to 5 autoscaling groups and a total of 16 worker nodes.\n","operationId":"CreateKubernetesCluster","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KubernetesCreate"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Kubernetes"}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location 'https://api.emma.ms/external/v1/kubernetes' \\\n--header 'Content-Type: application/json' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN' \\\n--data '{\n  \"name\": \"default-k8s-managed-cluster-name\",\n  \"deploymentLocation\": \"eu\",\n  \"workerNodes\": [\n    {\n      \"name\": \"default-name\",\n      \"dataCenterId\": \"europe-west1-d\",\n      \"vCpuType\": \"shared\",\n      \"vCpu\": 2,\n      \"ramGb\": 4,\n      \"volumeType\": \"ssd\",\n      \"volumeGb\": 16\n    }\n  ],\n  \"autoscalingConfigs\": [\n    {\n      \"groupName\": \"nodegroup\",\n      \"dataCenterId\": \"aws-us-west-1\",\n      \"minimumNodes\": 1,\n      \"maximumNodes\": 2,\n      \"targetNodes\": 1,\n      \"minimumVCpus\": 1,\n      \"maximumVCpus\": 5,\n      \"targetVCpus\": 1,\n      \"nodeGroupPriceLimit\": 5,\n      \"useOnDemandInstancesInsteadOfSpots\": true,\n      \"spotPercent\": 50,\n      \"spotMarkup\": 5,\n      \"configurationPriorities\": [\n        {\n          \"vCpuType\": \"shared\",\n          \"vCpu\": 2,\n          \"ramGb\": 2,\n          \"volumeGb\": 16,\n          \"volumeType\": \"ssd\",\n          \"priority\": \"high\"\n        }\n      ]\n    }\n  ]\n}'"}]}},"/v1/kubernetes/{kubernetesId}":{"get":{"tags":["Kubernetes clusters"],"summary":"Get Kubernetes cluster by id","description":"Returns a Managed Kubernetes cluster by cluster ID.\n","operationId":"GetKubernetesCluster","parameters":[{"$ref":"#/components/parameters/kubernetesId"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Kubernetes"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location 'https://api.emma.ms/external/v1/kubernetes/{kubernetesId}' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"}]},"put":{"tags":["Kubernetes clusters"],"summary":"Edit Kubernetes cluster","description":"The method for editing a Managed Kubernetes cluster enables you to delete and add new worker nodes and autoscaling groups, as well as change the settings of existing autoscaling groups. You can only edit a cluster when it is in \"ACTIVE\" status. To select hardware configurations for worker nodes, use the /v1/kubernetes-configs endpoint.\n\nWhen editing a Kubernetes cluster, you can only add or delete worker nodes, but you cannot change the name or configuration of existing worker nodes. If you want to keep a node when editing a cluster, simply specify its ID in the 'workerNodes' object. All other fields in 'workerNodes' are ignored for existing nodes and are not required. If you want to delete a node, remove its ID.\n\nWhen you create a new node, all fields in the 'workerNodes' object (except ID) are required. Do not add the ID field for a new node.\n\nPlease note that the spotMarkup field is ignored for the GCP provider.\n\nWhen you delete an autoscaling group with existing worker nodes, the worker nodes are also deleted.\n\nDuring the changes, the cluster status will change to \"ENV_DEVELOPMENT.\" Nodes undergoing changes will be displayed with a \"BUSY\" status. When the changes are successfully applied, the cluster will transition back to the \"ACTIVE\" status, and the nodes will be in the \"ON\" status.\n","operationId":"EditKubernetesCluster","parameters":[{"$ref":"#/components/parameters/kubernetesId"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KubernetesUpdate"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Kubernetes"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location --request PUT 'https://api.emma.ms/external/v1/kubernetes/{kubernetesId}' \\\n--header 'Content-Type: application/json' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN' \\\n--data '{\n  \"name\": \"default-k8s-managed-cluster-name\",\n  \"deploymentLocation\": \"eu\",\n  \"workerNodes\": [\n    {\n      \"id\": 18,\n      \"name\": \"default-name\",\n      \"dataCenterId\": \"europe-west1-d\",\n      \"vCpuType\": \"shared\",\n      \"vCpu\": 2,\n      \"ramGb\": 4,\n      \"volumeType\": \"ssd\",\n      \"volumeGb\": 16\n    }\n  ],\n  \"autoscalingConfigs\": [\n    {\n      \"groupName\": \"nodegroup\",\n      \"dataCenterId\": \"aws-us-west-1\",\n      \"minimumNodes\": 1,\n      \"maximumNodes\": 2,\n      \"targetNodes\": 1,\n      \"minimumVCpus\": 1,\n      \"maximumVCpus\": 5,\n      \"targetVCpus\": 1,\n      \"nodeGroupPriceLimit\": 5,\n      \"useOnDemandInstancesInsteadOfSpots\": true,\n      \"spotPercent\": 50,\n      \"spotMarkup\": 5,\n      \"configurationPriorities\": [\n        {\n          \"vCpuType\": \"shared\",\n          \"vCpu\": 2,\n          \"ramGb\": 2,\n          \"volumeGb\": 16,\n          \"volumeType\": \"ssd\",\n          \"priority\": \"high\"\n        }\n      ]\n    }\n  ]\n}'"}]},"delete":{"tags":["Kubernetes clusters"],"summary":"Delete Kubernetes cluster","description":"This method deletes an existing managed Kubernetes cluster. Deleting a cluster will result in the termination of all the worker nodes and the master node that was part of the cluster. All the data stored on the nodes, including the container images, logs, and application data, will also be lost.\n","operationId":"DeleteKubernetesCluster","parameters":[{"$ref":"#/components/parameters/kubernetesId"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Kubernetes"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location --request DELETE 'https://api.emma.ms/external/v1/kubernetes/{kubernetesId}' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"}]}},"/v1/locations":{"get":{"tags":["Locations"],"summary":"Get list of locations","description":"Returns a list of geographic locations of the provider's data centers. Locations are cities or states (in the case of the USA). When creating any compute instance, you need to specify a data center. This method helps you find locations with data centers.\n","operationId":"GetLocations","parameters":[{"$ref":"#/components/parameters/locationName"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Location"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location 'https://api.emma.ms/external/v1/locations' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"}]}},"/v1/locations/{locationId}":{"get":{"tags":["Locations"],"summary":"Get location by ID","description":"Returns a geographic location by its ID. Locations are cities or states (in the case of the USA) where providers have data centers.\n","operationId":"GetLocation","parameters":[{"$ref":"#/components/parameters/locationId"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Location"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location 'https://api.emma.ms/external/v1/locations/YOUR-LOCATION-ID' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"}]}},"/v1/operating-systems":{"get":{"tags":["Operating systems"],"summary":"Get list of operating systems","description":"Returns a list of available operating systems of compute instances supported by the cloud providers. The method provides detailed information about each operating system, including its family, type, version, and architecture. Use this list of the operating systems to find an OS when you create any compute instance.\n","operationId":"GetOperatingSystems","parameters":[{"$ref":"#/components/parameters/osType"},{"$ref":"#/components/parameters/osArchitecture"},{"$ref":"#/components/parameters/osVersion"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OperatingSystem"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location 'https://api.emma.ms/external/v1/operating-systems' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"}]}},"/v1/operating-systems/{operatingSystemId}":{"get":{"tags":["Operating systems"],"summary":"Get operating system by ID","description":"Returns an operating system (supported by the cloud providers) by its ID. The method provides detailed information about each operating system, including its family, type, version, and architecture.\n","operationId":"GetOperatingSystem","parameters":[{"$ref":"#/components/parameters/operatingSystemId"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperatingSystem"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location 'https://api.emma.ms/external/v1/operating-systems/YOUR-OPERATING-SYSTEM-ID' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"}]}},"/v1/providers":{"get":{"tags":["Providers"],"summary":"Get list of cloud providers","description":"Returns a list of cloud providers. Cloud service provider is a third-party company that provides scalable computing resources that users can access over emma platform. When you create any computing resources in emma you create them in the provider's datacenters.\nProvider is necessary when you select a data center for creating compute instances.\n","operationId":"GetProviders","parameters":[{"$ref":"#/components/parameters/providerName"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Provider"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location 'https://api.emma.ms/external/v1/providers?providerName=%3Cstring%3E' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"}]}},"/v1/providers/{providerId}":{"get":{"tags":["Providers"],"summary":"Get cloud provider by ID","description":"Returns a cloud provider by provider ID. Cloud service provider is a third-party company that provides scalable computing resources that users can access over emma platform.\nProvider is necessary when you select a data center for creating compute instances.\n","operationId":"GetProvider","parameters":[{"$ref":"#/components/parameters/providerId"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Provider"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location 'https://api.emma.ms/external/v1/providers/{providerId}' \\\n--header 'Accept: application/json'"}]}},"/v1/security-groups":{"get":{"tags":["Security groups"],"summary":"Get list of security groups","description":"Returns a list of security groups.\nA security group refers to a set of rules that determine what network traffic is allowed to enter or leave a particular compute instance. It acts as a virtual firewall, controlling inbound and outbound traffic based on predefined rules.\nSecurity groups operate based on predefined rules that allow or deny traffic based on specified criteria, such as source IP address, destination IP address, port number, and protocol.\n","operationId":"GetSecurityGroups","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SecurityGroup"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location 'https://api.emma.ms/external/v1/security-groups' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"}]},"post":{"tags":["Security groups"],"summary":"Create security group","description":"This method creates a security group.\n\nA security group refers to a set of rules that determine what network traffic is allowed to enter or leave a particular compute instance. It acts as a virtual firewall, controlling inbound and outbound traffic based on predefined rules.\n\nSecurity groups operate based on predefined rules that allow traffic based on specified criteria, such as source IP address, destination IP address, port number, and protocol.\n\nWhen creating a security group, provide its name and a set of inbound and outbound rules. You can only define rules that allow traffic, not deny it. All traffic is denied except for explicitly allowed traffic.\n\nSecurity groups control TCP, SCTP, GRE, ESP, AH, UDP, and ICMP protocols, or all the selected protocols at once.\n\nAfter creating a security group, a set of default rules is added to the security group. These rules are immutable, and you can't edit or delete them.\n\nAll traffic in the selected protocol is allowed if the IP range in a rule is set to `0.0.0.0/0`.\n","operationId":"SecurityGroupCreate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecurityGroupRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecurityGroup"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location 'https://api.emma.ms/external/v1/security-groups' \\\n--header 'Content-Type: application/json' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN' \\\n--data '{\n  \"name\": \"new_default\",\n  \"rules\": [\n    {\n      \"direction\": \"INBOUND\",\n      \"protocol\": \"TCP\",\n      \"ports\": \"1-30321\",\n      \"ipRange\": \"0.0.0.0/0\"\n    }\n  ]\n}'"}]}},"/v1/security-groups/{securityGroupId}":{"get":{"tags":["Security groups"],"summary":"Get security group by ID","description":"Returns a security group by its ID.\n\nA security group refers to a set of rules that determine what network traffic is allowed to enter or leave a particular compute instance. It acts as a virtual firewall, controlling inbound and outbound traffic based on predefined rules.\n\nSecurity groups operate based on predefined rules that allow or deny traffic based on specified criteria, such as source IP address, destination IP address, port number, and protocol.\n","operationId":"GetSecurityGroup","parameters":[{"$ref":"#/components/parameters/securityGroupId"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecurityGroup"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location 'https://api.emma.ms/external/v1/security-groups/{securityGroupId}' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"}]},"put":{"tags":["Security groups"],"summary":"Update security group","description":"This method updates a security group.\n\nA security group refers to a set of rules that determine what network traffic is allowed to enter or leave a particular compute instance. It acts as a virtual firewall, controlling inbound and outbound traffic based on predefined rules.\n\nSecurity groups operate based on predefined rules that allow traffic based on specified criteria, such as source IP address, destination IP address, port number, and protocol.\n\nWhen editing a security group, you can add and delete the inbound and outbound rules. You can only define rules that allow traffic, not deny it. All traffic is denied except for explicitly allowed traffic.\n\nSecurity groups control TCP, SCTP, GRE, ESP, AH, UDP, and ICMP protocols, or all the selected protocols at once.\n\nAfter creating a security group, a set of default rules is added to the security group. These rules are immutable, and you can't edit or delete them. When editing a security group, _you should provide the default rules along with any other rules._\n\nAll traffic in the selected protocol is allowed if the IP range in a rule is set to `0.0.0.0/0`.\n","operationId":"SecurityGroupUpdate","parameters":[{"$ref":"#/components/parameters/securityGroupId"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecurityGroupRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecurityGroup"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConflictError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location --request PUT 'https://api.emma.ms/external/v1/security-groups/{securityGroupId}' \\\n--header 'Content-Type: application/json' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN' \\\n--data '{\n  \"name\": \"new_default\",\n  \"rules\": [\n    {\n      \"direction\": \"INBOUND\",\n      \"protocol\": \"TCP\",\n      \"ipRange\": \"1-30321\",\n      \"ports\": \"0.0.0.0/0\",\n    }\n  ]\n}'"}]},"delete":{"tags":["Security groups"],"summary":"Delete security group","description":"This method deletes a security group.\n\nA security group refers to a set of rules that determine what network traffic is allowed to enter or leave a particular compute instance. It acts as a virtual firewall, controlling inbound and outbound traffic based on predefined rules.\n\nSecurity groups operate based on predefined rules that allow traffic based on specified criteria, such as source IP address, destination IP address, port number, and protocol.\n\nYou can't delete a security group if any compute instance is using this security group. To delete a security group, first remove a compute instance from the security group using this method: `POST /v1/security-groups/{securityGroupId}/instances`\n","operationId":"SecurityGroupDelete","parameters":[{"$ref":"#/components/parameters/securityGroupId"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecurityGroup"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConflictError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location --request DELETE 'https://api.emma.ms/external/v1/security-groups/{securityGroupId}' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"}]}},"/v1/security-groups/{securityGroupId}/instances":{"get":{"tags":["Security groups"],"summary":"Get instances in security group","description":"Returns a list of compute instances using the selected security group.\n\nA security group refers to a set of rules that determine what network traffic is allowed to enter or leave a particular compute instance. It acts as a virtual firewall, controlling inbound and outbound traffic based on predefined rules.\n\nSecurity groups operate based on predefined rules that allow traffic based on specified criteria, such as source IP address, destination IP address, port number, and protocol.\n","operationId":"SecurityGroupInstances","parameters":[{"$ref":"#/components/parameters/securityGroupId"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Vm"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location 'https://api.emma.ms/external/v1/security-groups/{securityGroupId}/instances' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"}]},"post":{"tags":["Security groups"],"summary":"Add instance to security group","description":"This method adds a compute instance to the selected security group.\n\nA security group refers to a set of rules that determine what network traffic is allowed to enter or leave a particular compute instance. It acts as a virtual firewall, controlling inbound and outbound traffic based on predefined rules.\n\nSecurity groups operate based on predefined rules that allow traffic based on specified criteria, such as source IP address, destination IP address, port number, and protocol.\n\nAny compute instance always uses some security group since its creation. Adding a compute instance to a security group effectively means moving it from one security group to another. When adding a compute instance to a new security group, it is automatically removed from the previous security group.\n","operationId":"SecurityGroupInstanceAdd","parameters":[{"$ref":"#/components/parameters/securityGroupId"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecurityGroupInstanceAdd"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Vm"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}},"422":{"description":"Unprocessable entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntityError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location 'https://api.emma.ms/external/v1/security-groups/{securityGroupId}/instances' \\\n--header 'Content-Type: application/json' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN' \\\n--data '{\n  \"instanceId\": \"8003\"\n}'"}]}},"/v1/spot-instances":{"get":{"tags":["Spot instances"],"summary":"Get list of spot instances","description":"Returns a list of spot instances.\n\nA Spot Instance is a specialized compute instance that allows you to access and utilize unused instance capacity at a steeply discounted rate.  Spot price is charged on an hourly basis.\n","operationId":"GetSpots","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Vm"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden - Access is denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location 'https://api.emma.ms/external/v1/spot-instances' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"}]},"post":{"tags":["Spot instances"],"summary":"Create spot instance","description":"This method creates a spot instance according to the specified parameters.\n\nA Spot Instance is a specialized compute instance that allows you to access and utilize unused instance capacity at a steeply discounted rate. Spot price is charged on an hourly basis. \n\nTo create a spot instance, follow these steps:\n\n1. Select a data center using the `/v1/data-centers` endpoint. The data center determines the provider and location of the spot instance.\n\n2. Select an available hardware configuration for the spot instance using the `/v1/spots-configs` endpoint.\n\n3. Select an SSH key for the Linux spot instance using the `/v1/ssh-keys` endpoint.\n\n4. Select an operating system using the `/v1/operating-systems` endpoint.\n\n5. Choose one of the cloud network types: _multi-cloud, isolated,_ or _default_. Choose the _multi-cloud_ network type if you need to connect compute instances from different providers.\n\nYou may choose not to specify a security group. In this case, the spot instance will be added to the default security group.\n\nA `price` field of a spot instance is not required. \n\nThe spot instance market operates on a bidding system. Your specified price acts as your bid in this market. If your bid is higher than the current spot price, your instance request will likely be fulfilled. However, if the market price exceeds your bid, your instance may not be launched or could be terminated if already running.\n","operationId":"SpotCreate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpotCreate"}}}},"responses":{"200":{"description":"Spot instance created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Vm"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden - Access is denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"422":{"description":"Unprocessable entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntityError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location 'https://api.emma.ms/external/v1/spot-instances' \\\n--header 'Content-Type: application/json' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN' \\\n--data '{\n  \"name\": \"spot-default\",\n  \"dataCenterId\": \"aws-us-west-1\",\n  \"osId\": \"35\",\n  \"cloudNetworkType\": \"multi-cloud\",\n  \"vCpuType\": \"shared\",\n  \"vCpu\": \"4\",\n  \"ramGb\": \"1\",\n  \"volumeType\": \"ssd\",\n  \"volumeGb\": \"16\",\n  \"sshKeyId\": \"124\",\n  \"securityGroupId\": \"208\",\n  \"price\": \"0.002635\"\n}'"}]}},"/v1/spot-instances/{spotInstanceId}":{"get":{"tags":["Spot instances"],"summary":"Get spot instance by ID","description":"Returns a spot instance by its ID.\n\nA Spot Instance is a specialized compute instance that allows you to access and utilize unused instance capacity at a steeply discounted rate.  Spot price is charged on an hourly basis.\n","operationId":"GetSpot","parameters":[{"$ref":"#/components/parameters/spotInstanceId"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Vm"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden - Access is denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location 'https://api.emma.ms/external/v1/spot-instances/{spotInstanceId}' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"}]},"delete":{"tags":["Spot instances"],"summary":"Delete spot instance","description":"This method deletes a spot instance.\n","operationId":"SpotDelete","parameters":[{"$ref":"#/components/parameters/spotInstanceId"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Vm"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden - Access is denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location --request DELETE 'https://api.emma.ms/external/v1/spot-instances/{spotInstanceId}' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"}]}},"/v1/spot-instances/{spotInstanceId}/actions":{"post":{"tags":["Spot instances"],"summary":"Perform actions with a spot instance","description":"This endpoint reboots a spot instance.\n","operationId":"SpotActions","parameters":[{"$ref":"#/components/parameters/spotInstanceId"}],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/SpotReboot"}]}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Vm"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden - Access is denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location 'https://api.emma.ms/external/v1/spot-instances/{spotInstanceId}/actions' \\\n--header 'Content-Type: application/json' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN' \\\n--data '{\n  \"action\": \"reboot\"\n}'"}]}},"/v1/ssh-keys":{"get":{"tags":["SSH keys"],"summary":"Get list of SSH keys","description":"Returns a list of the SSH keys for access to Linux compute instances. You can use these keys to create compute instances. \n\nThe list only contains the SSH keys created by the current Service application that you use to send a request. \n\nYou can't retrieve a list of SSH keys created by other users and applications.\n","operationId":"SshKeys","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SshKey"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location 'https://api.emma.ms/external/v1/ssh-keys' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"}]},"post":{"tags":["SSH keys"],"summary":"Create or import SSH key","description":"This method creates an SSH key that can be used for Linux compute instance creation. An SSH key can be created in two ways: generated by emma or imported by the user.\n\nIf you want to **generate** a key, specify two fields: name and keyType (RSA or ED25519). The key will be generated, and you will receive a private key in the response. The private key will be shown only once, so copy and save it to connect to the Linux compute instances.\n\nIf you want to **import** an existing SSH key, specify two fields: name and key. In the key field, insert your public SSH key as a string. It will be imported.\n","operationId":"SshKeysCreateImport","requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/SshKeyCreate"},{"$ref":"#/components/schemas/SshKeyImport"}]}}}},"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/SshKey"},{"$ref":"#/components/schemas/SshKeyGenerated"}]}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden - Access is denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location 'https://api.emma.ms/external/v1/ssh-keys' \\\n--header 'Content-Type: application/json' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN' \\\n--data '{\n  \"name\": \"mykey\",\n  \"keyType\": \"RSA\"\n}'"}]}},"/v1/ssh-keys/{sshKeyId}":{"get":{"tags":["SSH keys"],"summary":"Get SSH key by id","description":"Returns an SSH key by ID for access to Linux compute instances. You can only retrieve the SSH keys created by the current Service application that you use to send a request. You can't retrieve SSH keys created by other users and applications.\n","operationId":"GetSshKey","parameters":[{"$ref":"#/components/parameters/sshKeyId"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SshKey"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location 'https://api.emma.ms/external/v1/ssh-keys/{sshKeyId}' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"}]},"put":{"tags":["SSH keys"],"summary":"Update SSH keys","description":"This method updates a name of an existing SSH-key. You can only update an SSH key created by the current Service application that you use to send a request. You can't update SSH keys created by other users and applications.\n","operationId":"SshKeyUpdate","parameters":[{"$ref":"#/components/parameters/sshKeyId"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SshKeyUpdate"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SshKey"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location --request PUT 'https://api.emma.ms/external/v1/ssh-keys/{sshKeyId}' \\\n--header 'Content-Type: application/json' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN' \\\n--data '{\n  \"name\": \"mykey\"\n}'"}]},"delete":{"tags":["SSH keys"],"summary":"Delete SSH keys","description":"This method deletes a SSH key. You can only delete an SSH key created by the current Service application that you use to send a request. You can't delete SSH keys created by other users and applications.\n","operationId":"SshKeyDelete","parameters":[{"$ref":"#/components/parameters/sshKeyId"}],"responses":{"204":{"description":"Successful operation"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location --request DELETE 'https://api.emma.ms/external/v1/ssh-keys/{sshKeyId}' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"}]}},"/v1/subnetworks":{"get":{"tags":["Subnetworks"],"summary":"Get list of subnetworks","description":"Returns a list of subnetworks within the project.\n","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Subnetwork"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden - Access is denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location --request 'https://api.emma.ms/external/v1/subnetworks' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"}]},"post":{"tags":["Subnetworks"],"summary":"Create subnetwork","description":"This method creates a subnetwork.\nTo create a subnetwork, consider the following parameters:\n1. Select a data center using the `/v1/data-centers` endpoint. The data center determines the provider and location of the subnetwork.\n2. Specify the IP address range (optional) and network size (required). Subnetwork prefix value must be in ranges: 10.0.0.0 - 10.255.255.255, 172.16.0.0 - 172.31.255.255, 192.168.0.0 - 192.168.255.255, network size must be /28-/16 for DigitalOcean and /24-/16 for Gcore.\n","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubnetworkCreate"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Subnetwork"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden - Access is denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location 'https://api.emma.ms/external/v1/subnetworks' \\\n--header 'Content-Type: application/json' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR_BEARER_TOKEN' \\\n  --data '{\n  \"dataCenterId\": \"gcore-frankfurt\",\n  \"subnetworkSize\": \"24\",\n  \"name\": \"subnetworks-name\",\n  \"subnetworkPrefix\": \"192.168.0.0\"\n}'"}]}},"/v1/subnetworks/{subnetworkId}":{"get":{"tags":["Subnetworks"],"summary":"Get subnetwork by ID","description":"Returns a subnetwork by its ID.\n","parameters":[{"$ref":"#/components/parameters/subnetworkId"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Subnetwork"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden - Access is denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location 'https://api.emma.ms/external/v1/subnetworks/{subnetworkId}' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR_BEARER_TOKEN'"}]},"put":{"tags":["Subnetworks"],"summary":"Update subnetwork","description":"This method updates a subnetwork. Only the subnetwork name can be updated.\n","parameters":[{"$ref":"#/components/parameters/subnetworkId"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubnetworkEdit"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Subnetwork"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden - Access is denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location --request PUT 'https://api.emma.ms/external/v1/subnetworks/{subnetworkId}' \\\n--header 'Content-Type: application/json' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR_BEARER_TOKEN'\n--data '{\n  \"name\": \"subnetwork-name\"\n}'"}]},"delete":{"tags":["Subnetworks"],"summary":"Delete subnetwork","description":"This method deletes a subnetwork.\n","parameters":[{"$ref":"#/components/parameters/subnetworkId"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Subnetwork"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden - Access is denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location --request DELETE 'https://api.emma.ms/external/v1/subnetworks/{subnetworkId}' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR_BEARER_TOKEN'"}]}},"/v1/vms":{"get":{"tags":["Virtual machines"],"summary":"Get list of virtual machines","description":"Returns a list of virtual machines within the project.\n","operationId":"GetVms","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Vm"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden - Access is denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location 'https://api.emma.ms/external/v1/vms' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"}]},"post":{"tags":["Virtual machines"],"summary":"Create virtual machine","description":"This method creates a virtual machine according to the specified parameters.\n\nTo create a virtual machine, follow these steps:\n\n1. Select a data center using the `/v1/data-centers` endpoint. The data center determines the provider and location of the virtual machine.\n\n2. Select an available hardware configuration for the virtual machine using the `/v1/vms-configs` endpoint.\n\n3. Select an SSH key for the Linux virtual machine using the `/v1/ssh-keys` endpoint.\n\n4. Select an operating system using the `/v1/operating-systems` endpoint.\n\n5. Choose one of the cloud network types: _multi-cloud, isolated,_ or _default_. Choose the _multi-cloud_ network type if you need to connect compute instances from different providers.\n\nYou may choose not to specify a security group. In this case, the virtual machine will be added to the default security group.\n","operationId":"VmCreate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VmCreate"}}}},"responses":{"200":{"description":"Virtual machine created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Vm"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden - Access is denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"422":{"description":"Unprocessable entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntityError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location 'https://api.emma.ms/external/v1/vms' \\\n--header 'Content-Type: application/json' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN' \\\n--data '{\n  \"name\": \"vm-test1\",\n  \"dataCenterId\": \"aws-us-west-1\",\n  \"osId\": 5,\n  \"cloudNetworkType\": \"multi-cloud\",\n  \"vCpuType\": \"shared\",\n  \"vCpu\": 2,\n  \"ramGb\": 1,\n  \"volumeType\": \"ssd\",\n  \"volumeGb\": 16,\n  \"sshKeyId\": 124,\n  \"securityGroupId\": 208,\n  \"password\": \"Hdjfru345djg!\"\n}'"}]}},"/v1/vms/{vmId}":{"get":{"tags":["Virtual machines"],"summary":"Get virtual machine by id","description":"This endpoint returns a virtual machine by ID.\n","operationId":"GetVm","parameters":[{"$ref":"#/components/parameters/vmId"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Vm"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden - Access is denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location 'https://api.emma.ms/external/v1/vms/{vmId}' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"}]},"delete":{"tags":["Virtual machines"],"summary":"Delete virtual machine","description":"This method deletes a virtual machine.\n","operationId":"VmDelete","parameters":[{"$ref":"#/components/parameters/vmId"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Vm"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden - Access is denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location --request DELETE 'https://api.emma.ms/external/v1/vms/{vmId}' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"}]}},"/v1/vms/{vmId}/actions":{"post":{"tags":["Virtual machines"],"summary":"Perform actions with a virtual machine","description":"This method performs several actions with a virtual machine:\n  - Start a virtual machine\n  - Shutdown a virtual machine\n  - Reboot a virtual machine\n  - Transfer a virtual machine\n  - Clone a virtual machine\n  - Edit hardware of a virtual machine\n","operationId":"VmActions","parameters":[{"$ref":"#/components/parameters/vmId"}],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/VmStart"},{"$ref":"#/components/schemas/VmShutdown"},{"$ref":"#/components/schemas/VmReboot"},{"$ref":"#/components/schemas/VmTransfer"},{"$ref":"#/components/schemas/VmClone"},{"$ref":"#/components/schemas/VmEditHardware"}]}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Vm"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden - Access is denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location 'https://api.emma.ms/external/v1/vms/{vmId}/actions' \\\n--header 'Content-Type: application/json' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN' \\\n--data '{\n  \"action\": \"start\"\n}'"}]}},"/v1/vms-configs":{"get":{"tags":["Compute instances configurations"],"summary":"List of available configurations for virtual machine creation","description":"When creating virtual machines you need to provide the desired hardware configurations. These configurations include CPU, CPU type, RAM, volume size, and volume type. Different cloud providers offer various configurations in different data centers. Therefore, before creating any compute instance, you need to verify the available configurations.\n\nUse this endpoint as a reference for available configurations for virtual machines. You can search the available configurations by different parameters (provider, location, data center, cloud network type, CPU, CPU type, RAM, volume size, volume type, and price).\n\nWhen you find an appropriate configuration, provide the hardware parameters in the endpoint for creating or editing a virtual machine.\n","operationId":"GetVmConfigs","parameters":[{"$ref":"#/components/parameters/providerIdQuery"},{"$ref":"#/components/parameters/locationIdQuery"},{"$ref":"#/components/parameters/dataCenterIdQuery"},{"$ref":"#/components/parameters/cloudNetworkType"},{"$ref":"#/components/parameters/vCpuType"},{"$ref":"#/components/parameters/vCpu"},{"$ref":"#/components/parameters/vCpuMin"},{"$ref":"#/components/parameters/vCpuMax"},{"$ref":"#/components/parameters/ramGb"},{"$ref":"#/components/parameters/ramGbMin"},{"$ref":"#/components/parameters/ramGbMax"},{"$ref":"#/components/parameters/volumeGb"},{"$ref":"#/components/parameters/volumeGbMin"},{"$ref":"#/components/parameters/volumeGbMax"},{"$ref":"#/components/parameters/volumeType"},{"$ref":"#/components/parameters/priceMin"},{"$ref":"#/components/parameters/priceMax"},{"$ref":"#/components/parameters/pageQuery"},{"$ref":"#/components/parameters/sizeQuery"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/PaginatedResult"},{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/VmConfiguration"}}}}]}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden - Access is denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location 'https://api.emma.ms/external/v1/vms-configs' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"}]}},"/v1/spots-configs":{"get":{"tags":["Compute instances configurations"],"summary":"List of available configurations for spot instance creation","description":"When creating spot instances you need to provide the desired hardware configurations. These configurations include CPU, CPU type, RAM, volume size, and volume type. Different cloud providers offer various configurations in different data centers. Therefore, before creating any compute instance, you need to verify the available configurations.\n\nUse this endpoint as a reference for available configurations for spot instances. You can search the available configurations by different parameters (provider, location, data center, cloud network type, CPU, CPU type, RAM, volume size, volume type, and price).\n\nWhen you find an appropriate configuration, provide the hardware parameters in the endpoint for creating or editing a spot instance.\n","operationId":"GetSpotConfigs","parameters":[{"$ref":"#/components/parameters/providerIdQuery"},{"$ref":"#/components/parameters/locationIdQuery"},{"$ref":"#/components/parameters/dataCenterIdQuery"},{"$ref":"#/components/parameters/cloudNetworkType"},{"$ref":"#/components/parameters/vCpuType"},{"$ref":"#/components/parameters/vCpu"},{"$ref":"#/components/parameters/vCpuMin"},{"$ref":"#/components/parameters/vCpuMax"},{"$ref":"#/components/parameters/ramGb"},{"$ref":"#/components/parameters/ramGbMin"},{"$ref":"#/components/parameters/ramGbMax"},{"$ref":"#/components/parameters/volumeGb"},{"$ref":"#/components/parameters/volumeGbMin"},{"$ref":"#/components/parameters/volumeGbMax"},{"$ref":"#/components/parameters/volumeType"},{"$ref":"#/components/parameters/priceMin"},{"$ref":"#/components/parameters/priceMax"},{"$ref":"#/components/parameters/pageQuery"},{"$ref":"#/components/parameters/sizeQuery"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/PaginatedResult"},{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/VmConfiguration"}}}}]}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden - Access is denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location 'https://api.emma.ms/external/v1/spots-configs' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"}]}},"/v1/kubernetes-configs":{"get":{"tags":["Compute instances configurations"],"summary":"List of available configurations for Kubernetes cluster node","description":"When creating Kubernetes clusters you need to provide the desired hardware configurations for working nodes. These configurations include CPU, CPU type, RAM, volume size, and volume type. Different cloud providers offer various configurations in different data centers. Therefore, before creating any compute instance, you need to verify the available configurations.\n\nUse this endpoint as a reference for available configurations for working nodes. You can search the available configurations by different parameters (provider, location, data center, CPU, CPU type, RAM, volume size, volume type, and price).\n\nWhen you find an appropriate configuration, provide the hardware parameters in the endpoint for creating or editing a Kubernetes cluster.\n","operationId":"GetKuberNodesConfigs","parameters":[{"$ref":"#/components/parameters/providerIdQuery"},{"$ref":"#/components/parameters/locationIdQuery"},{"$ref":"#/components/parameters/dataCenterIdQuery"},{"$ref":"#/components/parameters/vCpuType"},{"$ref":"#/components/parameters/vCpu"},{"$ref":"#/components/parameters/vCpuMin"},{"$ref":"#/components/parameters/vCpuMax"},{"$ref":"#/components/parameters/ramGb"},{"$ref":"#/components/parameters/ramGbMin"},{"$ref":"#/components/parameters/ramGbMax"},{"$ref":"#/components/parameters/volumeGb"},{"$ref":"#/components/parameters/volumeGbMin"},{"$ref":"#/components/parameters/volumeGbMax"},{"$ref":"#/components/parameters/volumeType"},{"$ref":"#/components/parameters/priceMin"},{"$ref":"#/components/parameters/priceMax"},{"$ref":"#/components/parameters/pageQuery"},{"$ref":"#/components/parameters/sizeQuery"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/PaginatedResult"},{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/VmConfiguration"}}}}]}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden - Access is denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location 'https://api.emma.ms/external/v1/kubernetes-configs' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"}]}},"/v1/statistics/retrieve":{"post":{"tags":["Statistics"],"summary":"Extract data from the DWH","description":"The method allows extraction of statistical data from emma's DWH. All queries are predefined; users need to select one and specify additional parameters.\n","operationId":"GetStatisticalData","requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/CostAnalysisQuery"},{"$ref":"#/components/schemas/KubernetesClusterChangingMetricsQuery"},{"$ref":"#/components/schemas/KubernetesClusterCurrentStateQuery"},{"$ref":"#/components/schemas/KubernetesClusterMetricsQuery"},{"$ref":"#/components/schemas/KubernetesClusterObjectsQuery"},{"$ref":"#/components/schemas/KubernetesClusterObjectStatesQuery"},{"$ref":"#/components/schemas/ProductStatisticsQuery"},{"$ref":"#/components/schemas/ProjectSummaryQuery"},{"$ref":"#/components/schemas/ResourceAnalysisQuery"},{"$ref":"#/components/schemas/VmMonitoringQuery"},{"$ref":"#/components/schemas/VmAnalyticsQuery"}]}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"oneOf":[{"type":"array","items":{"$ref":"#/components/schemas/VmMonitoringResponse"}},{"type":"array","items":{"$ref":"#/components/schemas/VmAnalyticsResponse"}},{"type":"array","items":{"$ref":"#/components/schemas/CostAnalysisResponse"}},{"type":"array","items":{"$ref":"#/components/schemas/ResourceAnalysisResponse"}},{"type":"array","items":{"$ref":"#/components/schemas/ProductStatisticsResponse"}},{"type":"array","items":{"$ref":"#/components/schemas/ProjectSummaryResponse"}},{"type":"array","items":{"$ref":"#/components/schemas/KubernetesClusterObjectsResponse"}},{"type":"array","items":{"$ref":"#/components/schemas/KubernetesClusterMetricsResponse"}},{"type":"array","items":{"$ref":"#/components/schemas/KubernetesClusterCurrentStateResponse"}},{"type":"array","items":{"$ref":"#/components/schemas/KubernetesClusterChangingMetricsResponse"}},{"type":"array","items":{"$ref":"#/components/schemas/KubernetesClusterObjectStatesResponse"}}]}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}}},"403":{"description":"Forbidden - Access is denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}},"security":[{"bearerAuth":[]}],"x-codeSamples":[{"lang":"CURL","label":"CURL","source":"curl --location 'https://api.emma.ms/external/v1/statistics/retrieve' \\\n--header 'Content-Type: application/json' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'\n--data '{\n  \"datasetName\": \"cost_analysis\",\n  \"filters\": {\n    \"periodStart\": \"2024-06-19\",\n    \"periodEnd\": \"2024-06-26\"\n  }\n}'"}]}}},"components":{"schemas":{"Credentials":{"required":["clientId","clientSecret"],"type":"object","properties":{"clientId":{"type":"string","description":"Client ID from the Service application in the project","example":"ad6f8c5c-223f-4102-8664-8044b84864e2"},"clientSecret":{"type":"string","description":"Client secret from the Service application in the project","example":"e0eb8a09-b7fe-4acc-a72b-79ce0dd26068"}}},"DataCenter":{"type":"object","properties":{"id":{"type":"string","description":"ID of the cloud provider's data center","example":"aws-us-west-1"},"name":{"type":"string","description":"Name of the cloud provider's data center","example":"eu-north-1"},"providerId":{"type":"integer","description":"ID of the cloud provider that owns the datacenter","example":5},"providerName":{"type":"string","description":"Name of the cloud provider that owns the datacenter","example":"AWS"},"locationId":{"type":"integer","description":"ID of the data center location","example":15},"locationName":{"type":"string","description":"Name of the data center location (city or state)","example":"Stockholm"}}},"Kubernetes":{"type":"object","properties":{"id":{"type":"integer","description":"ID of the Kubernetes cluster","example":123},"createdAt":{"type":"string","description":"Date and time of the Kubernetes cluster creation","example":"2021-11-26T14:54:11"},"createdByName":{"type":"string","description":"Name of the user who created the Kubernetes cluster","example":"Automation User"},"createdById":{"type":"integer","description":"ID of the user who created the Kubernetes cluster","example":123},"modifiedAt":{"type":"string","description":"Date and time when the Kubernetes cluster was last edited","example":"2021-11-26T14:54:11"},"modifiedByName":{"type":"string","description":"Name of the user who last edited the Kubernetes cluster","example":"Automation User"},"modifiedById":{"type":"integer","description":"ID of the user who last edited the Kubernetes cluster","example":123},"name":{"type":"string","description":"Name of the Kubernetes cluster","example":"default-k8s-managed-cluster-name"},"version":{"type":"string","description":"Version of the Kubernetes cluster","example":"1.28"},"deploymentLocation":{"type":"string","description":"Deployment region of the Kubernetes cluster. Currently, only Europe (eu) is available.","example":"eu","enum":["eu"]},"status":{"type":"string","description":"Status of the Kubernetes cluster","example":"ACTIVE"},"cost":{"type":"object","properties":{"unit":{"type":"string","description":"Cost period","example":"MONTHS"},"currency":{"type":"string","description":"Currency of the cost","example":"EUR"},"price":{"type":"number","description":"Cost for the period","example":5.479952}},"description":"Total cost of the Kubernetes cluster for the period"},"controlPlaneStatus":{"type":"string","description":"Control Plane Status. The Control Plane status provides information about the health and functionality of various components that are part of the Control Plane.","example":"HEALTHY"},"domainName":{"type":"string","description":"Domain attached to the Kubernetes cluster","example":"somedomain.org"},"nodeGroups":{"type":"array","description":"List of the worker node groups","items":{"type":"object","properties":{"name":{"type":"string","description":"Name of the worker node group","example":"Nodes"},"nodes":{"type":"array","description":"List of the worker nodes","items":{"type":"object","properties":{"id":{"type":"integer","description":"ID of the worker node","example":8100},"createdAt":{"type":"string","description":"Date and time when the worker node was created","example":"2021-11-26T14:54:11"},"name":{"type":"string","description":"Name of the worker node","example":"vm-default-e08149hp"},"status":{"type":"string","description":"Status of the worker node","example":"POWERED_ON","enum":["POWERED_ON","POWERED_OFF","BUSY","DRAFT"]},"provider":{"type":"object","properties":{"id":{"type":"integer","description":"ID of the cloud provider of the worker node","example":5},"name":{"type":"string","description":"Name of the cloud provider of the worker node","example":"GCP"}},"description":"Cloud provider of the worker node"},"location":{"type":"object","properties":{"id":{"type":"integer","description":"Location ID of the worker node","example":6},"name":{"type":"string","description":"Location name (city or state) of the worker node","example":"London"},"continent":{"type":"string","description":"Name of the geographical continent","example":"Asia"},"region":{"type":"string","description":"Name of the geographical region","example":"EMEA"},"latitude":{"type":"number","description":"Approximate latitude of the geographical location","format":"double","example":51.50735},"longitude":{"type":"number","description":"Approximate longitude of the geographical location","format":"double","example":-0.1277583}},"description":"Geographic location where the worker node is deployed"},"dataCenter":{"type":"object","properties":{"id":{"type":"string","description":"ID of the cloud provider's data center where the worker node is deployed","example":"europe-west1-d"},"name":{"type":"string","description":"Name of the cloud provider's data center where the worker node is deployed","example":"europe-west1-d"},"providerId":{"type":"integer","description":"ID of the cloud provider","example":5},"providerName":{"type":"string","description":"Name of the cloud provider","example":"GCP"},"locationId":{"type":"integer","description":"Location ID","example":35},"locationName":{"type":"string","description":"Location Name (city or state)","example":"St. Ghislain"}},"description":"Data center where the worker node is deployed"},"os":{"type":"object","properties":{"id":{"type":"integer","description":"ID of the operating system","example":35},"family":{"type":"string","description":"Family of the operating system","example":"Linux"},"architecture":{"type":"string","description":"Architecture of the operating system","example":"x86-64"},"type":{"type":"string","description":"Type of the operating system","example":"Ubuntu"},"version":{"type":"string","description":"Version of the operating system","example":"22.04"}},"description":"Operating system"},"vCpu":{"type":"integer","description":"Number of virtual Central Processing Units (vCPUs)","example":1},"vCpuType":{"type":"string","description":"Type of the virtual Central Processing Unit","example":"shared","enum":["shared","standard","hpc"]},"cloudNetworkType":{"type":"string","description":"Type of the cloud network (multi-cloud, isolated, or default)","example":"multi-cloud","enum":["isolated","multi-cloud","default"]},"ramGb":{"type":"integer","description":"Capacity of the RAM in gigabytes","example":2},"disks":{"type":"array","description":"Volumes attached","items":{"type":"object","properties":{"id":{"type":"integer","description":"Volume ID","example":5819},"sizeGb":{"type":"integer","description":"Volume size in gigabytes","example":250},"typeId":{"type":"integer","description":"ID of the volume type","example":2},"type":{"type":"string","description":"Volume type","example":"SSD"},"isBootable":{"type":"boolean","description":"Indicates whether the volume is bootable or not","example":true}}}},"networks":{"type":"array","description":"Public and private networks","example":[{"id":9826,"ip":"10.106.0.2","networkTypeId":2,"networkType":"PRIVATE"},{"id":9825,"ip":"134.122.100.131","networkTypeId":1,"networkType":"PUBLIC"}],"items":{"type":"object","properties":{"id":{"type":"integer","description":"Network ID","example":9826},"ip":{"type":"string","description":"Network IP","example":"10.106.0.2"},"networkTypeId":{"type":"integer","description":"ID of the network type","example":2},"networkType":{"type":"string","description":"Network type","example":"PRIVATE"}}}},"securityGroup":{"type":"object","properties":{"id":{"type":"integer","description":"ID of the security group","example":208},"name":{"type":"string","description":"Name of the security group","example":"default"}},"description":"Security group of the worker node"},"cost":{"type":"object","properties":{"unit":{"type":"string","description":"Period","example":"MONTHS"},"currency":{"type":"string","description":"Currency of the cost","example":"EUR"},"price":{"type":"number","description":"Cost for the period","example":5.479952}},"description":"Total cost of the worker node for the period"}}}}}}},"autoscalingConfigs":{"type":"array","description":"Configurations of the autoscaling group","items":{"type":"object","properties":{"groupName":{"type":"string","description":"Name of the autoscaling group","example":"nodegroup"},"dataCenterId":{"type":"string","description":"ID of the data center","example":"aws-us-west-1"},"minimumNodes":{"type":"integer","description":"Minimum number of nodes","example":1},"maximumNodes":{"type":"integer","description":"Maximum number of nodes","example":2},"targetNodes":{"type":"integer","description":"Target number of worker nodes in the autoscaling group","example":1},"minimumVCpus":{"type":"integer","description":"Minimum number of vCPUs","example":1},"maximumVCpus":{"type":"integer","description":"Maximum number of vCPUs","example":5},"targetVCpus":{"type":"integer","description":"Target number of vCPUs in the autoscaling group","example":1},"nodeGroupPriceLimit":{"type":"number","description":"Price limit of the autoscaling group","example":5},"useOnDemandInstancesInsteadOfSpots":{"type":"boolean","description":"Use on-demand compute instances instead of spot compute instances","example":true},"spotPercent":{"type":"integer","description":"Percentage of spot instances in the autoscaling group","example":5},"spotMarkup":{"type":"number","description":"Extra markup to the spot instance price","example":5},"configurationPriorities":{"type":"array","description":"Compute instance configurations with priorities","items":{"type":"object","properties":{"vCpuType":{"type":"string","description":"Type of the virtual Central Processing Unit (vCPU)","example":"shared","enum":["shared","standard","hpc"]},"vCpu":{"type":"integer","description":"Number of virtual Central Processing Units (vCPUs)","example":2},"ramGb":{"type":"integer","description":"Capacity of the RAM in gigabytes","example":2},"volumeGb":{"type":"integer","description":"Capacity of the volume in gigabytes","example":16},"volumeType":{"type":"string","description":"Volume type","example":"ssd","enum":["ssd","ssd-plus"]},"priority":{"type":"string","description":"Configuration priority. Configuration priority determines the order in which configurations are applied when worker nodes are created in the autoscaling group.","example":"high","enum":["high","med","low"]}}}}}}}}},"KubernetesCreate":{"required":["deploymentLocation","name","workerNodes"],"type":"object","properties":{"name":{"type":"string","description":"Kubernetes cluster name","example":"default-k8s-managed-cluster-name"},"deploymentLocation":{"type":"string","description":"Deployment region of the Kubernetes cluster. Currently, only Europe (eu) is available.","example":"eu","enum":["eu"]},"workerNodes":{"type":"array","description":"List of the worker nodes","items":{"required":["dataCenterId","name","ramGb","vCpu","vCpuType","volumeGb","volumeType"],"type":"object","properties":{"name":{"type":"string","description":"Name of the worker node","example":"default-name"},"dataCenterId":{"type":"string","description":"ID of the data center","example":"europe-west1-d"},"vCpuType":{"type":"string","description":"Type of the virtual Central Processing Unit (vCPU)","example":"shared","enum":["shared","standard","hpc"]},"vCpu":{"type":"integer","description":"Number of virtual Central Processing Units (vCPUs)","example":2},"ramGb":{"type":"integer","description":"Capacity of the RAM in gigabytes","example":4},"volumeType":{"type":"string","description":"Volume type","example":"ssd","enum":["ssd","ssd-plus"]},"volumeGb":{"type":"integer","description":"Capacity of the volume in gigabytes","example":16}}}},"autoscalingConfigs":{"type":"array","description":"Configurations of the autoscaling group","items":{"required":["configurationPriorities","dataCenterId","groupName","useOnDemandInstancesInsteadOfSpots"],"type":"object","properties":{"groupName":{"type":"string","description":"Group name","example":"nodegroup"},"dataCenterId":{"type":"string","description":"ID of the data center","example":"aws-us-west-1"},"minimumNodes":{"type":"integer","description":"Minimum number of nodes","example":1},"maximumNodes":{"type":"integer","description":"Maximum number of nodes","example":2},"targetNodes":{"type":"integer","description":"Target number of worker nodes in the autoscaling group","example":1},"minimumVCpus":{"type":"integer","description":"Minimum number of vCPUs","example":1},"maximumVCpus":{"type":"integer","description":"Maximum number of vCPUs","example":5},"targetVCpus":{"type":"integer","description":"Target number of vCPUs in the autoscaling group","example":1},"nodeGroupPriceLimit":{"type":"number","description":"Price limit of the autoscaling group","example":5},"useOnDemandInstancesInsteadOfSpots":{"type":"boolean","description":"Use on-demand compute instances instead of spot compute instances","example":true},"spotPercent":{"type":"integer","description":"Percentage of spot instances in the autoscaling group","example":50},"spotMarkup":{"type":"number","description":"Extra markup to the spot instance price","example":5},"configurationPriorities":{"type":"array","description":"Compute instance configurations with priorities","items":{"type":"object","properties":{"vCpuType":{"type":"string","description":"Type of the virtual Central Processing Unit (vCPU)","example":"shared","enum":["shared","standard","hpc"]},"vCpu":{"type":"integer","description":"Number of virtual Central Processing Units (vCPUs)","example":2},"ramGb":{"type":"integer","description":"Capacity of the RAM in gigabytes","example":2},"volumeGb":{"type":"integer","description":"Capacity of the volume in gigabytes","example":16},"volumeType":{"type":"string","description":"Volume type","example":"ssd","enum":["ssd","ssd-plus"]},"priority":{"type":"string","description":"Configuration priority","example":"high","enum":["high","med","low"]}}}}}}}}},"KubernetesUpdate":{"required":["workerNodes"],"type":"object","properties":{"workerNodes":{"type":"array","description":"List of the worker nodes","items":{"required":["dataCenterId","name","ramGb","vCpu","vCpuType","volumeGb","volumeType"],"type":"object","properties":{"id":{"type":"integer","description":"ID of the kubernetes worker node","example":18},"name":{"type":"string","description":"Name of the worker node","example":"default-name"},"dataCenterId":{"type":"string","description":"ID of the data center","example":"europe-west1-d"},"vCpuType":{"type":"string","description":"Type of the virtual Central Processing
[...]
